<a href="https://colab.research.google.com/github/Sameem25/TimeSeriesAnalysiswithPython/blob/master/time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [75]:
### importing all the required libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [77]:
### reading data from the user
data = pd.read_csv('en_test_2.csv')
data.head()

   sentence_id  token_id      before
0            0         0        Last
1            0         1    modified
2            0         2  3/31/2016;
3            0         3           .
4            1         0     There's

In [78]:
### We'll find here the number of columns present in the dataframe
length = len(data.columns)
print (length)

3

In [102]:
### Since we know the number of columns in the dataset. Our next task is to find the columns which may contain dates.
#1. If a column has dates and times, it should have 'datetime64' datatype.

for i in data.columns:
  if data[i].dtypes == "datetime64[ns, UTC]":
    print ('Column "',i, '" has date time format.')

TypeError: ignored

In [89]:
data['before'] = pd.to_datetime(data['before'], errors='coerce', utc = True)

In [98]:
data = data.dropna()
data['before'].dtypes

datetime64[ns, UTC]

In [93]:
data

        sentence_id  token_id                    before
2                 0         2 2016-03-31 00:00:00+00:00
45                4         0 2017-02-21 00:00:00+00:00
151              14         1 2017-03-04 00:00:00+00:00
165              16         1 2017-03-28 00:00:00+00:00
205              20         1 2017-04-18 00:00:00+00:00
...             ...       ...                       ...
955750        69981         1 2013-01-01 00:00:00+00:00
955857        69987         5 1890-01-01 00:00:00+00:00
955931        69991         3 1986-01-01 00:00:00+00:00
955964        69993         4 2015-08-06 00:00:00+00:00
956019        69997         4 1910-01-01 00:00:00+00:00

[24587 rows x 3 columns]